* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0px;
}

nav {
	display: flex;
	justify-content: space-between;
	font-size: 24px;
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav ul li {
	padding-left: 20px;
}

header {
	width: 100%;
	padding: 20px;
	background-color: #3275a8;
}

main {
	width: 90%;
	padding: 20px;
	margin: auto;
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background-color: #ffeca8;
}

footer ul {
	display: flex;
	list-style-type: none;
}

footer ul li {
	padding-left: 20px;
}

#aboutme {
	display: flex;
	margin:auto;
	justify-content: space-between;
}

#portrait {
	padding: 20px;
}